Flask==1.1.2
flask-jwt-extended[asymmetric_crypto]==4.1.0
gunicorn==20.0.4
gevent==21.1.2
redispy==3.0.0
SQLAlchemy==1.4.2
psycopg2-binary==2.8.6
pydantic[email]==1.8.1
argon2_cffi==20.1.0
passlib==1.7.4
argon2-cffi==20.1.0
requests==2.25.1
sqlalchemy-utils==0.37.0
flask-swagger-ui==3.36.0
apispec-webframeworks==0.5.2
apispec[yaml]==4.4.0
authlib==0.15.3
flask-script==2.0.6
pyjwt==2.1.0
